{% load static %}
<footer class="footer">
		<div class="container">


			<div class="footer_content">
				<div class="row">

					<!-- Footer Column - About -->
					<div class="col-lg-3 footer_col">

						<!-- Logo -->
						<div class="logo_container">
							<div class="logo">
								<img src="images/logo.png" alt="">
								<span>Evenement</span>
							</div>
						</div>

						<p class="footer_about_text">Ecole de generation de bulletin.</p>

					</div>

					<!-- Footer Column - Menu -->

					<div class="col-lg-3 footer_col">
						<div class="footer_column_title">Menu</div>
						<div class="footer_column_content">
							<ul>
								<li class="footer_list_item"><a href="/">Home</a></li>
								<li class="footer_list_item"><a href="#">A propos</a></li>
								<li class="footer_list_item"><a href="news.html">Evenement</a></li>
								<li class="footer_list_item"><a href="contact.html">Contact</a></li>
							</ul>
						</div>
					</div>

					<!-- Footer Column - Usefull Links -->

					<div class="col-lg-3 footer_col">
						<div class="footer_column_title">Utiliser ce lien</div>
						<div class="footer_column_content">
							<ul>
								<li class="footer_list_item"><a href="#">Je suis éleve</a></li>
								<li class="footer_list_item"><a href="#">Poser ta question</a></li>
								<li class="footer_list_item"><a href="#">Notre Communoté</a></li>
								<li class="footer_list_item"><a href="#">La vie des Scolaire</a></li>
								<li class="footer_list_item"><a href="#">Space parent</a></li>
							</ul>
						</div>
					</div>

					<!-- Footer Column - Contact -->

					<div class="col-lg-3 footer_col">
						<div class="footer_column_title">Contact</div>
						<div class="footer_column_content">
							<ul>
								<li class="footer_contact_item">
									<div class="footer_contact_icon">
										<img src="{% static 'public_style/images/placeholder.svg'%}" alt="https://www.flaticon.com/authors/lucy-g">
									</div>
									Addresse inconnue
								</li>
								<li class="footer_contact_item">
									<div class="footer_contact_icon">
										<img src="{% static 'public_style/images/smartphone.svg'%}" alt="https://www.flaticon.com/authors/lucy-g">
									</div>
									Telephone inconnu
								</li>
								<li class="footer_contact_item">
									<div class="footer_contact_icon">
										<img src="{% static 'public_style/images/envelope.svg'%}" alt="https://www.flaticon.com/authors/lucy-g">
									</div>gmail@bulletin.com
								</li>
							</ul>
						</div>
					</div>

				</div>
			</div>

			<!-- Footer Copyright -->


		</div>
	</footer>

