{% extends 'school_admin/base.html' %}
<!--side bar left-->
{% block sidebar %}
{% include 'school_admin/sidebar.html' %}

{% endblock sidebar %}


{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" xmlns="http://www.w3.org/1999/html">
  <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>DataTables</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">DataTables</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">

            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Liste des éléves</h3>
                <div class="clearfix">

                <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#modal-xl"><i class="fas fa-plus"></i> Affecter cours enseignant</button>
              </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>Nom</th>
                    <th>Post nom</th>
                    <th>Email</th>
                    <th>Genre</th>
                    <th>Addresse</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for staff in staff%}
                  <tr>
                    <td>{{ staff.admin.first_name }}</td>
                    <td>{{ staff.admin.last_name }}
                    </td>
                    <td>{{ staff.admin.email }}</td>
                    <td> {{ staff.admin.gender }}</td>
                    <td>{{ staff.admin.address }}</td>
                  </tr>
                  {% endfor %}
                  </tbody>
                  <tfoot>
                  <tr>
                    <th>Nom</th>
                    <th>Post nom</th>
                    <th>Email</th>
                    <th>Genre</th>
                    <th>Addresse</th>
                  </tr>
                  </tfoot>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->

     <div class="modal fade" id="modal-xl">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Enseignant</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">

        <div class="card card-default">
          <div class="card-header">
            <h3 class="card-title">Affectation cours</h3>

            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>
              <button type="button" class="btn btn-tool" data-card-widget="remove">
                <i class="fas fa-times"></i>
              </button>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <label>Liste des cours et des enseignants</label>
                  <select class="duallistbox" multiple="multiple">
                    <h5 >Cours</h5>
                    {% for cours in cours %}

                    <option>{{cours.name}}</option>
                    {% endfor %}
                      <h5 > Enseignants</h5>
                     {% for staff in staff %}
                    <option>{{staff.admin.email}}</option>
                    {% endfor %}

                  </select>
                </div>
                <!-- /.form-group -->
              </div>

              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div>

        </div>
        <!-- /.card -->

            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->
    </section>
    <!-- /.content -->
  </div>



{% endblock content %}