{% extends 'school_admin/base.html' %}
<!--side bar left-->
{% block sidebar %}
{% include 'school_admin/sidebar.html' %}

{% endblock sidebar %}


{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" xmlns="http://www.w3.org/1999/html">
  <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Les Enseignants</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Les Enseignants</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">

            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Liste des Enseignants</h3>
                <div class="clearfix">
                <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#modal-lg"><i class="fas fa-plus"></i> Ajouter Enseignant</button>
              </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>Image</th>
                    <th>Nom</th>
                    <th>Post nom</th>
                    <th>Email</th>
                    <th>Genre</th>
                  
                    <th class="text-center" >Action</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for staff in staff%}
                  <tr>
                      <td>
                      <img alt="Image" width="50px" height="25px" class="table-avatar" src="{{ staff.admin.profile_pic }}">
                    </td>
                    <td>{{ staff.admin.first_name }}</td>
                    <td>{{ staff.admin.last_name }}
                    </td>
                    <td>{{ staff.admin.email }}</td>
                    <td> {{ staff.admin.gender }}</td>
                    
                      <td class="project-actions text-center">
                          <a class="btn btn-primary btn-sm" href="#">
                              <i class="fas fa-folder">
                              </i>
                              View
                          </a>
                          <a class="btn btn-info btn-sm" href="{% url 'edit_staff' staff.id %}">
                              <i class="fas fa-pencil-alt">
                              </i>
                              Edit
                          </a>
                          <a class="btn btn-danger btn-sm" href="#">
                              <i class="fas fa-trash">
                              </i>
                              Archiver
                          </a>
                      </td>

                  </tr>

                  {% endfor %}
                  </tbody>
                  <tfoot>
                  <tr>
                    <th>Image</th>
                    <th>Nom</th>
                    <th>Post nom</th>
                    <th>Email</th>
                    <th>Genre</th>
                    
                    <th class="text-center" >Action</th>

                  </tr>
                  </tfoot>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->

      <div class="modal fade" id="modal-lg">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Formulaire d'enregistrement</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <!-- /.row -->

            <div class="card card-default">
<!--              <div class="card-header">-->
<!--                <h3 class="card-title">Formulaire d'enregistrement</h3>-->
<!--              </div>-->

              <div class="card-body p-3">

                    <!-- your steps content here -->

                         <section class="content">
                            <form method="post" name="course_staff[]"  enctype="multipart/form-data" multiple="true">
                      {% csrf_token %}
      <div class="row">
        <div class="col-md-6">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Information Enseignant</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
              <div class="form-group">
                <label >Nom</label>
                {{ form.first_name }}
              </div>
               <div class="form-group">
                <label >Post Nom</label>
                {{ form.last_name }}
              </div>
              <div class="form-group">
                <label >Email</label>
                {{ form.email}}
              </div>
              <div class="form-group">
                <label >Sexe</label>
                  {{ form.gender }}

              </div>

            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <div class="col-md-6">
          <div class="card card-secondary">
            <div class="card-header">
              <h3 class="card-title">Autre Information</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
               <div class="form-group">
                <label for="inputDescription">Addresse</label>
                <textarea id="inputDescription" class="form-control" rows="4" name="address"></textarea>
              </div>
              <div class="form-group">
                <label >Photo</label>
                {{ form.profile_pic }}
              </div>
              <div class="form-group">
                <label >Mot de pass </label>
                {{ form.password }}
                </div>

            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      </div>

      </div>
                               <div class="row">
        <div class="col-12">
          <!-- /<a href="#" class="btn btn-secondary">Cancel</a> -->
          <input type="submit" value="Ajouter enseignant" class="btn btn-success float-right">
        </div>
      </div>
        </form>
    </section>


              <!-- /.card-body -->

            </div>

            <!-- /.card -->

            </div>

            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->

      <!-- /.modal -->
      </div>
    </section>
    <!-- /.content -->
  </div>



{% endblock content %}