{% extends 'school_admin/base.html' %}
<!--side bar left-->
{% block sidebar %}
{% include 'school_admin/sidebar.html' %}

{% endblock sidebar %}


{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" xmlns="http://www.w3.org/1999/html">
  <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Article</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Article</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">

            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Liste des Articles</h3>
                <div class="clearfix">
                <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#modal-lg"><i class="fas fa-plus"></i> Ajouter Event</button>
              </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>Titre</th>
                    <th>Categorie</th>
                    <th>Publishé</th>
                      <th>Etat</th>
                    <th>Image Slider</th>
                    <th>Image</th>
                    <th>Action</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for blog in all_blogs %}
                  <tr>
                    <td>{{ blog.title }}</td>
                    <td>{{ blog.category }}
                    </td>
                    <td>{{ blog.published }}</td>
                    <td> {{ blog.status }}</td>
                    <td> {{ blog.type_article_slid }}</td>
                    <td>{{ blog.image }}</td>
                    <td>
                      <a href="" class="btn btn-primary" data-toggle="modal" data-target="#modal-lg"><i class="fas fa-eye"></i> Detail</a>
                      <a href="{% url 'update' blog.id %}" class="btn btn-primary"  ><i class="fas fa-edit"></i> Edit</a>
                    </td>
                  </tr>


                  {% endfor %}
                  </tbody>
                  <tfoot>
                  <tr>
                    <th>Titre</th>
                    <th>Categorie</th>
                    <th>publishé</th>
                       <th>Etat</th>
                       <th>Image Slider</th>
                    <th>Image</th>
                    <th>Action</th>

                  </tr>
                  </tfoot>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->

      <div class="modal fade" id="modal-lg">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Formulaire d'enregistrement</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <!-- /.row -->

            <div class="card card-default">
<!--              <div class="card-header">-->
<!--                <h3 class="card-title">Formulaire d'enregistrement</h3>-->
<!--              </div>-->

              <div class="card-body p-3">

                    <!-- your steps content here -->
                    <form role="form" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
        <div class="row">
        {% for field in form  %}
            <div class="col-6 col-sm-6 col-md-6 col-lg-6">
            {{field.errors}}
               <br>
                {% if not labels_uppercase %}{{ field.label|safe }}{% else %}{{ field.label|safe|upper }}{% endif %}{% if field.field.required %}{% endif %}
<!--                {{field.label_tag}}-->
              <p></p>
                {{field}}

                </div>

        {% endfor %}
        </div>


    <!-- /.card-body -->
<br><br>
    <div class="card-footer">
        <button type="submit" class="btn btn-primary btn-block">
            {% if button_text %}
            {{button_text}}
            {% else %}
            Edit {{course.name}}
            {% endif %}

        </button>
    </div>
</form>



              <!-- /.card-body -->

            </div>

            <!-- /.card -->

            </div>

            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->

      <!-- /.modal -->
      </div>
    </section>
    <!-- /.content -->
  </div>



{% endblock content %}