{% extends 'public_school/base.html' %}
{% load static %}

{% block content %}

<!-- Home -->

	<div class="home">
		<div class="home_background_container prlx_parent">
			<div class="home_background prlx" style="background-image:url(images/contact_background.jpg)"></div>
		</div>
		<div class="home_content">
			<h1>Contact</h1>
		</div>
	</div>

	<!-- Contact -->

	<div class="contact">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">

					<!-- Contact Form -->
					<div class="contact_form">
						<div class="contact_title">Envoyez nous un message</div>

						<div class="contact_form_container">
							<form method="post">
								{% csrf_token %}
								<input name="name" id="contact_form_name" class="input_field contact_form_name" type="text" placeholder="Nom" required="required" data-error="Name is required.">
								<input name="subject" id="contact_form_subject" class="input_field contact_form_name" type="text" placeholder="Sujet" required="required" data-error="Name is required.">
								<input name="phone" id="contact_form_phone" class="input_field contact_form_name" type="text" placeholder="Telephone" required="required" data-error="Name is required.">
								<input name="email" id="contact_form_email" class="input_field contact_form_email" type="email" placeholder="E-mail" required="required" data-error="Valid email is required.">
								<textarea id="contact_form_message" class="text_field contact_form_message" name="message" placeholder="Message" required="required" data-error="Please, write us a message."></textarea>
								<button id="contact_send_btn" type="submit" class="contact_send_btn trans_200" value="Submit">send message</button>
							</form>
						</div>
					</div>

				</div>

				<div class="col-lg-4">
					<div class="about">
						<div class="about_title">Suivre le cours</div>
						<p class="about_text">blablablablablanlanbm</p>

						<div class="contact_info">
							<ul>
								<li class="contact_info_item">
									<div class="contact_info_icon">
										<img src="{% static 'public_style/images/placeholder.svg'%}" alt="https://www.flaticon.com/authors/lucy-g">
									</div>
									addresse inconnue
								</li>
								<li class="contact_info_item">
									<div class="contact_info_icon">
										<img src="{% static 'public_style/images/smartphone.svg'%}" alt="https://www.flaticon.com/authors/lucy-g">
									</div>
									telephone
								</li>
								<li class="contact_info_item">
									<div class="contact_info_icon">
										<img src="{% static 'public_style/images/envelope.svg'%}" alt="https://www.flaticon.com/authors/lucy-g">
									</div>ecole.gmail.com
								</li>
							</ul>
						</div>

					</div>
				</div>

			</div>

			<!-- Google Map -->

			<div class="row">
				<div class="col">
					<div id="google_map">
						<div class="map_container">
							<div id="map"></div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

{% endblock %}