{% extends 'public_school/base.html' %}
{% load static %}

{% block content %}
<div class="home">

		<!-- Hero Slider -->
		<div class="hero_slider_container">
			<div class="hero_slider owl-carousel">

				<!-- Hero Slide -->
				{% for slider in article_slider %}
				{% comment %} <div class="hero_slide">
					<div class="hero_slide_background" style="background-image:url({{ slider.image.url }})"></div>
					<div class="hero_slide_container d-flex flex-column align-items-center justify-content-center">
						<div class="hero_slide_content text-center">
							<h1 data-animation-in="fadeInUp" data-animation-out="animate-out fadeOut">Titre <span>{{slider.title}}</span> Important!</h1>
						</div>
					</div>
				</div> {% endcomment %}

				<!-- Hero Slide -->
				<div class="hero_slide">
					<div class="hero_slide_background" >
						<img src="{{ slider.image.url }}" >
					</div>
					<div class="hero_slide_container d-flex flex-column align-items-center justify-content-center">
						<div class="hero_slide_content text-center">
							<h1 data-animation-in="fadeInUp" data-animation-out="animate-out fadeOut">Get your <span>Education</span> today!</h1>
						</div>
					</div>
				</div>
				{% endfor %}



			</div>

			<div class="hero_slider_left hero_slider_nav trans_200"><span class="trans_200">prev</span></div>
			<div class="hero_slider_right hero_slider_nav trans_200"><span class="trans_200">next</span></div>
		</div>

	</div>

	<div class="hero_boxes">
		<div class="hero_boxes_inner">
			<div class="container">
				<div class="row">

					<div class="col-lg-4 hero_box_col">
						<div class="hero_box d-flex flex-row align-items-center justify-content-start">
							<img src="{% static 'public_style/images/earth-globe.svg'%}" class="svg" alt="">
							<div class="hero_box_content">
								<h2 class="hero_box_title">Nos cours</h2>
								<a href="#" class="hero_box_link">Voir plus</a>
							</div>
						</div>
					</div>

					<div class="col-lg-4 hero_box_col">
						<div class="hero_box d-flex flex-row align-items-center justify-content-start">
							<img src="{% static 'public_style/images/books.svg'%}" class="svg" alt="">
							<div class="hero_box_content">
								<h2 class="hero_box_title">Notre bibliothque</h2>
								<a href="#" class="hero_box_link">Voir plus</a>
							</div>
						</div>
					</div>

					<div class="col-lg-4 hero_box_col">
						<div class="hero_box d-flex flex-row align-items-center justify-content-start">
							<img src="{% static 'public_style/images/professor.svg'%}" class="svg" alt="">
							<div class="hero_box_content">
								<h2 class="hero_box_title">Nos Enseignant</h2>
								<a href="#" class="hero_box_link">Voir plus</a>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>


	<!-- Events -->

	<div class="events page_section">
		<div class="container">


			<div class="row">
				<div class="col">
					<div class="section_title text-center">
						<h1>Les evenements scolaire</h1>
					</div>
				</div>
			</div>
					{% for event in all_evennt %}
			<div class="event_items">

				<!-- Event Item -->
				<div class="row event_item">
					<div class="col">
						<div class="row d-flex flex-row align-items-end">

							<div class="col-lg-2 order-lg-1 order-2">
								<div class="event_date d-flex flex-column align-items-center justify-content-center">
									<div class="event_day">{{ event.updated|date:'d'}}</div>
									<div class="event_month">{{ event.updated|date:'m-Y'}}</div>
								</div>
							</div>

							<div class="col-lg-6 order-lg-2 order-3">
								<div class="event_content">
									<div class="event_name"><a class="trans_200" href="{% url 'event_detail' event.id %}">{{ event.title }}</a></div>
									<div class="event_location">{{ event.category }}</div>
									<p>{{ event.description }}</p>
								</div>
							</div>

							<div class="col-lg-4 order-lg-3 order-1">
								<div class="event_image">
									<img src="{{ event.image.url }}" alt="Aucune image" width="100" height="200">
								</div>
							</div>

						</div>
					</div>
				</div>


			</div>

			{% endfor %}

		</div>
	</div>

{% endblock %}